@model passionProject1.Models.CategoryDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Category?</h2>
<a href="/category/List">Cancel</a>
<h3>Name: @Model.categoryID @Model.categoryName</h3>
<form action="/category/Delete/@Model.categoryID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>