@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is the perfect destination for those looking to find the best places to go in Toronto. Here, you will find a comprehensive list of some of the top locations to visit in the city, along with information about the best season to go and the category of each location. Whether you're looking for outdoor adventure, cultural experiences, or simply a relaxing getaway, this page has got you covered. So, whether you're a local or a visitor, make sure to check out the About page of the website to find your next great adventure.</p>
